# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Presentation (Archivos locales de presentación)
presentacion/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
